@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

html{
  scroll-behavior: smooth;
}

.dynamic-top {
  top: 10vh;
}

@media (min-height: 668px) {
  .dynamic-top {
    top: calc(min(55vh, 10vh + 200 * (100vh - 667px) / 667));
  }
}
